
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
  font-family: 'Shadows Into Light', cursive; 
  font size: 50px;
  {background-image: url"https://raw.githubusercontent.com/Arceus329/-portfolio-/master/download-1.jpg";
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:cover;} 
  
h1{
  color:#592ABB
  border: 20px outset blue; 
  padding: none;
  float: left;
  }
  
h2{color:#3508CE;
  }
