
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
  font-family: 'Shadows Into Light', cursive; 
  font-size: 34px;
  background-image: url("https://raw.githubusercontent.com/Arceus329/-portfolio-/master/download-1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:cover;
  color: #FFFFFF 
  }
  
h1 {
  border: 20px outset Blue; 
  padding: none;
  float: left;
}
  
h2{
  color:#3508CE;
}

.homework {
  background-color: Black;
  
}

.navbar { 
  float: left;
  display: block;
  color:#DCFEFF;
  text-align center;
  padding: 14px 16px;
  text decoration: none;
  font-size: 23px  
  
 .navbar: .hover{
   background-color: #A6A2FF
     color:#02D3B9
 .navbar: .active{
   background color: #581845;
   color: Black;
   }
     
